<div class="row">
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-12">
        <table class="table table-striped cms-table-striped table-hover table-condensed table-bordered ">
          <thead>
          <tr>
            <th class="col-md-9" colspan="2">Families</th>
          </tr>
          </thead>
          <tbody>
          {{#each model.results as |result| }}
            <tr>
              <td class="col-xs-10">{{result.name}}</td>
              <td>
                <a {{action 'editFamily' result}} ><span class="glyphicon glyphicon-pencil"></span></a>
                <a {{action 'deleteFamily' result}} ><span class="glyphicon glyphicon-trash"></span></a>
              </td>
            </tr>
          {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    Add Family
  </div>
</div>
